.title{
    color: var(--main-color);
}
h2{
    color: var(--text-color);
}
p{
    color: var(--main-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.wrapper{
    width:100%;
}